$theme-colors: ('primary': #4082ff,
  'danger': #ff4136,
  'dark': #383c44,
  'light': #ffffff);
@import 'mixins.scss';
// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'fonts.scss';

body {
  color: #383c44;
}

.my-container {
  max-width: 1200px;
  padding: 0 1rem;
}

.logo-horizontal {
  height: 2.75rem;
  margin: auto 0;
}

h5 {
  line-height: 2rem;
}

.my-card {
  border-radius: 0.75rem;
  -moz-box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  -webkit-box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  transition: all 0.25s ease;
  transform: scale(1);
}

.my-card:hover {
  transform: scale(1.05);
  -moz-box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  -webkit-box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  transform: scale(1.05);
}

.my-card-top {
  border-radius: 0.75rem 0.75rem 0 0;
}

.blog-card {
  border-radius: 0.75rem;
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.25);
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.25);
  box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.25);
  transition: all 0.25s ease;
  transform: scale(1);
}

.blog-card:hover {
  transform: scale(1.05);
  -moz-box-shadow: 0 1rem 3rem 0 rgba($dark, 0.125);
  -webkit-box-shadow: 0 1rem 3rem 0 rgba($dark, 0.125);
  box-shadow: 0 1rem 3rem 0 rgba($dark, 0.125);
  transform: scale(1.05);
}

.form-card {
  border-radius: 0.75rem;
  border: solid 2px $primary;
  transition: all 0.25s ease;
  transform: scale(1);
}

.store-button {
  height: 2.35rem;
}

.app-icon {
  width: 9rem;
  height: 9rem;
}

.stars-icon {
  height: 1.75rem;
}

a,
a:hover,
a:visited,
a:active {
  outline: none;
  text-decoration: none;
}

.social-icon {
  width: 2.75rem;
  height: 2.75rem;
}

.grow-1 {
  transition: all 0.25s ease;
  transform: scale(1);
}

.grow-1:hover {
  transform: scale(1.15);
}

.grow-2 {
  transition: all 0.25s ease;
  transform: scale(1);
}

.grow-2:hover {
  transform: scale(1.075);
}

.btn-shdw-primary {
  -moz-box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.2);
  box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.2);
}

.btn-shdw-primary:hover {
  -moz-box-shadow: 0 1rem 2rem 0 rgba($primary, 0.1);
  -webkit-box-shadow: 0 1rem 2rem 0 rgba($primary, 0.1);
  box-shadow: 0 1rem 2rem 0 rgba($primary, 0.1);
}

.border-2 {
  border-width: 2px;
}

.rounded-2 {
  border-radius: 0.75rem;
}

textarea {
  min-height: 150px;
}

.form-control::-webkit-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Microsoft Edge */

.form-control {
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgba($primary, 0.05);
  font-size: 1.25rem;
}

h1 {
  font-size: 1.9rem;
}

@include respond-above(md) {
  h1 {
    font-size: 2.25rem;
  }
}
