$theme-colors: ('primary': #4082ff,
  'danger': #ff6351,
  'dark': #383c44,
  'light': #ffffff,
  'success': #2ee093);
@import 'mixins.scss';
// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'fonts.scss';

body {
  color: #383c44;
}

.my-container-big {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.my-container-medium {
  max-width: 700px;
  padding: 0 1.5rem;
}

.logo-horizontal {
  height: 2.75rem;
  margin: auto 0;
}

h5 {
  line-height: 2rem;
}

.my-card {
  border-radius: 0.75rem;
  box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  transition: all 0.25s ease;
  transform: scale(1);
}

.my-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  transform: scale(1.05);
}

.my-card-top {
  border-radius: 0.75rem 0.75rem 0 0;
}

.blog-card {
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.15);
  transition: all 0.25s ease;
  transform: scale(1);
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem 0 rgba($dark, 0.075);
}

#formCard {
  border-radius: 0.75rem;
  border: solid 2px $primary;
  transition: all 0.4s ease;
  transform: scale(1);
  background-color: $light;
  transform-origin: top center;
}

.store-button {
  height: 2.35rem;
}

.app-icon {
  width: 9rem;
  height: 9rem;
}

.stars-icon {
  height: 1.75rem;
}

.op-50 {
  opacity: 0.5;
}

a,
a:hover,
a:visited,
a:active {
  outline: none;
  text-decoration: none;
}

.social-icon {
  width: 2.75rem;
  height: 2.75rem;
}

.grow-1 {
  transition: all 0.25s ease;
  transform: scale(1);
}

.grow-1:hover {
  transform: scale(1.15);
}

.grow-2 {
  transition: all 0.25s ease;
  transform: scale(1);
}

.grow-2:hover {
  transform: scale(1.075);
}

.btn-shdw-primary {
  box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.15);
}

.btn-shdw-primary:hover {
  box-shadow: 0 1rem 2rem 0 rgba($primary, 0.075);
}

.btn-shdw-dark {
  box-shadow: 0 0.5rem 1rem 0 rgba($dark, 0.1);
}

.btn-shdw-dark:hover {
  box-shadow: 0 1rem 2rem 0 rgba($dark, 0.05);
}

.border-2 {
  border-width: 2px;
}

.rounded-2 {
  border-radius: 0.75rem;
}

textarea {
  min-height: 150px;
}

.form-control::-webkit-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Microsoft Edge */

.form-control {
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgba($primary, 0.05);
  font-size: 1.25rem;
}

h1 {
  font-size: 1.9rem;
}

@include respond-above(md) {
  h1 {
    font-size: 2.25rem;
  }
}

.tick {
  width: 6rem;
  height: 6rem;
}

#loading-gif {
  height: 1rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
}

.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 0;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

svg {
  width: 100%;
  height: auto;
}


// For ghost

p>code,
ul>li>code,
ol>li>code,
pre {
  color: $dark;
  background-color: rgba($dark, 0.1);
  padding: 0.15rem 0.3rem;
  margin: 0 0.25rem;
  border-radius: 0.15rem;
  border: solid 1px rgba($dark, 0.1);
}

// Ghost styles
$font-size-p: 1.2rem;
$font-size-line-height: 2.2rem;
$font-size-code: 1rem;
$font-family-p: "Lora",
serif;
$header-height: 5rem;

.kg-image {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-top: 2rem;
}

.kg-image-card {
  text-align: center;
}

.embedly-card {
  margin-top: 2rem;
}

figcaption {
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.6;
  margin-top: 0.75rem;
}

main>h1 {
  font-weight: 700;
  font-family: "Butler", "sans-serif";
  font-size: 2.25rem !important;
  line-height: 3.25rem;
}

.content>div>h2 {
  margin-top: 4rem;
  margin-bottom: -0.75rem;
  font-weight: 700;
  font-size: 1.75rem;
}

.content>div>h3 {
  margin-top: 4rem;
  margin-bottom: -0.75rem;
  font-weight: 600;
  font-size: 1.5rem;
}

strong {
  font-weight: 700 !important;
}

.content>div>p {
  font-size: $font-size-p;
  line-height: $font-size-line-height;
  font-family: $font-family-p;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

.content>div>ul,
.content>div>ol {
  font-size: $font-size-p !important;
  line-height: $font-size-line-height;
  font-family: $font-family-p !important;
  font-weight: 400 !important;
  margin-top: 1.5rem;
}

.content>div>ul>li,
.content>div>ol>li,
.content>div>ul>li>strong,
.content>div>ul>ol>strong,
  {
  margin-top: 0.75rem;
  font-family: $font-family-p !important;
}

.content>div>p>code,
.content>div>ul>li>code,
.content>div>ol>li>code {
  color: rgba(theme-color("dark"), 1) !important;
  background-color: rgba(theme-color("dark"), 0.05);
  padding: 0.15rem 0.45rem;
  font-size: $font-size-code;
  border-radius: 0.25rem;
  border: solid 1px rgba(theme-color("dark"), 0.1);
  line-height: $font-size-line-height;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.content>div>pre {
  color: rgba(theme-color("dark"), 1) !important;
  background-color: rgba(theme-color("dark"), 0.05);
  padding: 0.75rem 1.25rem;
  font-size: $font-size-code;
  border-radius: 0.25rem;
  border: solid 1px rgba(theme-color("dark"), 0.1);
  line-height: $font-size-line-height;
  margin-top: 1.5rem;
}

code {
  font-family: "FiraMono", monospace !important;
}

.content>div>p>a,
.content>div>ul>li>a,
.content>div>ol>li>a,
.content>div>p>code>a {
  font-weight: 700 !important;
  text-decoration: underline !important;
  color: rgba(theme-color("dark"), 1) !important;
}

.content>div>p>a:hover,
.content>div>ul>li>a:hover,
.content>div>ol>li>a:hover,
.content>div>code>a:hover,
.content>div>p>code>a:hover {
  color: rgba(theme-color("primary"), 1) !important;
}

.kg-bookmark-card {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.25s ease;
  transform: scale(1);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(theme-color("dark"), 0.08);
}

.kg-bookmark-container:hover {
  text-decoration: none;
  transform: scale(1.035);
  box-shadow: 0 0.75rem 1.5rem 0 rgba(theme-color("dark"), 0.04);
}

a.kg-bookmark-container {
  text-decoration: none !important;
  color: theme-color("dark") !important;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 1.25rem 1.5rem;
  order: 1;
  max-width: 100%;
}

.kg-bookmark-thumbnail {
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
  max-height: 15rem;
  max-width: 100%;
}

@media (min-width: 576px) {
  .kg-bookmark-thumbnail {
    flex-basis: 12rem;
    max-height: 12rem;
  }

  .kg-bookmark-thumbnail img {
    margin-left: auto;
    margin-right: 0rem !important;
  }
}

.kg-bookmark-thumbnail img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.kg-bookmark-title {
  font-weight: 700;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: .5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(theme-color("dark"), 0.6);
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: .5em;
  margin-bottom: .05em;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gist {
  margin-top: 2rem;
  margin-bottom: 3rem;
}


#navbarPostPage {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.4s ease;
  z-index: 10000;
}

.navbar-shadow {
  box-shadow: 0 0.5rem 1rem 0 rgba($dark, 0.1);
}

.pt-5rem {
  padding-top: 5rem;
}
