$theme-colors: ('primary': #4082ff,
  'danger': #FF6351,
  'dark': #383c44,
  'light': #ffffff,
  'success': #2EE093);
@import 'mixins.scss';
// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'fonts.scss';

body {
  color: #383c44;
}

.my-container {
  max-width: 1200px;
  padding: 0 1rem;
}

.logo-horizontal {
  height: 2.75rem;
  margin: auto 0;
}

h5 {
  line-height: 2rem;
}

.my-card {
  border-radius: 0.75rem;
  -moz-box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  -webkit-box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  box-shadow: 0 0.75rem 1.5rem 0 rgba($primary, 0.15);
  transition: all 0.25s ease;
  transform: scale(1);
}

.my-card:hover {
  transform: scale(1.05);
  -moz-box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  -webkit-box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  box-shadow: 0 1.5rem 3rem 0 rgba($primary, 0.1);
  transform: scale(1.05);
}

.my-card-top {
  border-radius: 0.75rem 0.75rem 0 0;
}

.blog-card {
  border-radius: 0.75rem;
  -moz-box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.25);
  -webkit-box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.25);
  box-shadow: 0 0.5rem 1.5rem 0 rgba($dark, 0.25);
  transition: all 0.25s ease;
  transform: scale(1);
}

.blog-card:hover {
  transform: scale(1.05);
  -moz-box-shadow: 0 1rem 3rem 0 rgba($dark, 0.125);
  -webkit-box-shadow: 0 1rem 3rem 0 rgba($dark, 0.125);
  box-shadow: 0 1rem 3rem 0 rgba($dark, 0.125);
  transform: scale(1.05);
}

#formCard {
  border-radius: 0.75rem;
  border: solid 2px $primary;
  transition: all 0.4s ease;
  transform: scale(1);
  background-color: $light;
  transform-origin: top center;
}

.store-button {
  height: 2.35rem;
}

.app-icon {
  width: 9rem;
  height: 9rem;
}

.stars-icon {
  height: 1.75rem;
}

a,
a:hover,
a:visited,
a:active {
  outline: none;
  text-decoration: none;
}

.social-icon {
  width: 2.75rem;
  height: 2.75rem;
}

.grow-1 {
  transition: all 0.25s ease;
  transform: scale(1);
}

.grow-1:hover {
  transform: scale(1.15);
}

.grow-2 {
  transition: all 0.25s ease;
  transform: scale(1);
}

.grow-2:hover {
  transform: scale(1.075);
}

.btn-shdw-primary {
  -moz-box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.15);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.15);
  box-shadow: 0 0.5rem 1rem 0 rgba($primary, 0.15);
}

.btn-shdw-primary:hover {
  -moz-box-shadow: 0 1rem 2rem 0 rgba($primary, 0.075);
  -webkit-box-shadow: 0 1rem 2rem 0 rgba($primary, 0.075);
  box-shadow: 0 1rem 2rem 0 rgba($primary, 0.075);
}

.btn-shdw-dark {
  -moz-box-shadow: 0 0.5rem 1rem 0 rgba($dark, 0.1);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba($dark, 0.1);
  box-shadow: 0 0.5rem 1rem 0 rgba($dark, 0.1);
}

.btn-shdw-dark:hover {
  -moz-box-shadow: 0 1rem 2rem 0 rgba($dark, 0.05);
  -webkit-box-shadow: 0 1rem 2rem 0 rgba($dark, 0.05);
  box-shadow: 0 1rem 2rem 0 rgba($dark, 0.05);
}

.border-2 {
  border-width: 2px;
}

.rounded-2 {
  border-radius: 0.75rem;
}

textarea {
  min-height: 150px;
}

.form-control::-webkit-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: rgba($primary, 0.35);
  font-weight: 500;
}

/* Microsoft Edge */

.form-control {
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgba($primary, 0.05);
  font-size: 1.25rem;
}

h1 {
  font-size: 1.9rem;
}

@include respond-above(md) {
  h1 {
    font-size: 2.25rem;
  }
}

.tick {
  width: 6rem;
  height: 6rem;
}

#loading-gif {
  height: 1rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
}

.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 0;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
